.screen{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: auto;
}

.screen.editable{
  cursor:crosshair;
}

.leave-comment-text{
  background:rgba(0,0,0,.7);
  color:#fff;
  padding:5px 10px;
  transform:translateY(-50%);
  border-radius: 5px;
  font-size: 14px;
}

.note-container{
  
  border-radius: 5px;
  background:var(--color);
  transform: translateX(-50%) translateY(40px);
 width: 300px;
 margin-top: 40px;
 margin-left: -150px;
}

 div.note{
  padding: 5px 10px;
  color:#fff;
  border-radius: 5px;

  
}


.notebox{
  padding:20px;
  background: rgb(245, 218, 218);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
  z-index: 4;
  width: 300px;
  border-radius: 5px;
  transition: all .07s ease-in-out;
  transform: translateX(-50%) translateY(40px);
}

.notebox select{
  appearance: none;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding:0 10px;
  color:#fff;
  cursor: pointer;
  font-size:14px;
  font-weight: 500;
  background: var(--color);
}

.notebox textarea{
  width: 100%;
  border:1px solid #ccc;
  padding:10px;
  margin-top:10px ;
  border-radius:5px ;
  resize: none;
  font-family:Arial, sans-serif;
}

.notebox textarea:focus{
  border-color: var(--color);
}

.notebox button{
  width: 100%;
  height:40px;
  padding:0 10px;
  border-radius: 3px;
  margin-top: 5px;
  background: rgb(27, 25, 25);
  color:#fff;
  cursor:pointer;
}
.notebox button[disabled]{
  opacity:0.2;
  pointer-events: none;
}

.notebox-number{
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%) translateY(-60px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  cursor:pointer;
  opacity: .6;
}

.notebox-number:hover{
  opacity: 1;
}